.commandCenter{
    width: 100dvw;
    min-width: 300px;
    max-width: 1000px;
    height: 10dvh;
    min-height: 40px;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    backdrop-filter: blur(5px);
    background-color: var(--color-transparencia-oscuro);
    border-bottom: solid 1px var(--color-blanco);
}
.navContainer{
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.navContainer>nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}
.navContainer>nav>ul{
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
}
.navContainer>nav>ul>li{
    width: 18%;
    min-width: 100px;
    max-width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    gap: 5px;
}
.navContainer>nav>ul>li>a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-decoration: none;
    color: var(--color-blanco);
}
@media (min-width: 768px) {
    #toggleMenu{
        display: none;
    }
}
@media (max-width: 768px) {
    .commandCenter{
        max-width: 768px;
        height: auto;
        max-height: 300px;
    }
    .navContainer{
        display: none;
        flex-direction: column;
        max-width: 768px;
        height: 30dvh;
        max-height: 300px;
        transition: max-height 1s ease-in; 
        overflow: hidden;
        
    }
    .navContainer>nav{
        height: 100%;
        display: flex;
        max-width: 768px;
        justify-content: center;
        align-items: center;
    }
    .navContainer>nav>ul{
        flex-direction: column;
        max-width: 768px;
        height: 100%;
    }
    .navContainer>nav>ul>li{
        height: 100%;
    }
    .navContainer>nav>ul>li>a{
        height: 100%;
        justify-content: space-around;       
    }
    #toggleMenu{
        width: 2.5rem;
        aspect-ratio: 1/1;
        display: flex;
        position: fixed;
        margin: auto;
        text-align: center;
        rotate: 90deg;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        color: var(--color-blanco);
        font-weight: bolder;
    }
    #toggleMenu:hover {
        cursor: pointer;
        background-color: var(--color-ultratransparente-claro);
        transition-property: background-color;
        transition-duration: 0.5s; 
        transition-timing-function: ease-in-out;
    }    
}
/* .hover a */
.navContainer>nav>ul>li>a:hover{
    background-color: var(--color-ultratransparente-claro);
    transition: ease-in 0.3s;
}
.navContainer>nav>ul>li>a:not(:hover){
    transition: ease-out 0.3s;
}
.logoContainer,
.navContainer,
.navContainer nav ul li a {
    opacity: 0;
}


/*animaciones*/
/* Define la animación */
@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.commandCenter, .logoContainer, .navContainer, .navContainer nav ul li a {
    opacity: 0; 
}
.commandCenter,
.logoContainer,
.navContainer,
.navContainer nav ul li:nth-child(1) a,
.navContainer nav ul li:nth-child(2) a,
.navContainer nav ul li:nth-child(3) a,
.navContainer nav ul li:nth-child(4) a,
.navContainer nav ul li:nth-child(5) a {
    animation: aparecer 1s ease-out;
    opacity: 1;
}