@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*barra sonido*/
.soundbarContainer{
    width: 50%;
    min-width: 150px;
    max-width: 500px;
    height: 2dvh;
    min-height: 30px;
    max-height: 90px;
    background-color: var(--color-negro);
    display: flex;
    margin: 4rem auto 0;
    justify-content: space-evenly;
    align-items: center;
    border: solid 0.1rem var(--color-blanco);
    border-radius: 25px;
    opacity: 0; 
    animation: fade-in 2.3s ease-out forwards;
}
.speaker{
    height: 80%;
    aspect-ratio: 1/1;
    display: flex;
    background-color: var(--color-blanco);
    border-radius: 50%;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.speakerCore{
    height: 0.5rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: solid 5px var(--color-negro);
}
.speakerTm{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.speakerTag{
    color: var(--color-blanco);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-shadow: 2px 2px var(--color-negro);
    font-style: italic;
}

/*decoracion estante*/
.libraryProjects{
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    height: 10dvh;
    min-height: 130px;
    max-height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.8rem;
    border-image: url(../Images/Texturas/madera_estante.jpg) 99 repeat;
    box-shadow: 0 0 100px var(--color-ultratransparente-claro);
    z-index: 0;
    /*luz interna*/
    background: linear-gradient(to bottom, var(--color-ultratransparente-claro) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0; 
    animation: fade-in 2.3s ease-out forwards;
}
@media (max-width: 700px) {
    .arbolito, .arbolPic, .consola, .consolaPic{
        display: none;
    }
    .libraryProjects, .gamesContainer{
        width: 90dvw;
        max-width: 400px;
    }

}
@media screen and (min-width: 501px) and (max-width: 768px) {
    .libraryProjects, .gamesContainer{
        width: 90dvw;
        max-width: 668px;
    }

}
.consola, .arbolito{
    width: 10%;
    height: 100%;
    min-height: 130px;
    max-height: 300px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: auto;
    z-index: 0;
}
.arbolito{
    justify-content: left;
}
.consolaPic, .arbolPic{
    width: auto;
    height: 100%;
    min-height: 130px;
    max-height: 300px;
    filter: brightness(90%);
    cursor: not-allowed;
    margin-bottom: 0;
    z-index: 0;
}
.gamesContainer{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 270px;
    max-width: 700px
}
/*en biblioteca guardado*/
/* Estilos para el gameBox */
.gameBox {
    background-color: var(--color-transparencia-oscuro);
    height: 100%;
    min-height: 130px;
    max-height: 300px;
    width: 25%;
    min-width: 25px;
    max-width: 50px;
    display: flex;
    z-index: 1;
    align-items: center;
    margin: 0;
    justify-content: center;
    border-right: solid 2px var(--color-negro);
}

.projectOnLibrary{
    display: flex;
    margin-bottom: 0px;
}
.projectOnLibraryTitle {
    transform: rotate(-90deg);
    color: var(--color-blanco);


}
.projectExpanded {
    display: none;
    width: 0;

}
.gameBox:hover .projectExpanded, .coverContainer{
    display: flex;
    position: absolute;
    width: 100%;
    min-width: 110px;
    max-width: 220px;
    height: 100;
    background-color: var(--color-negro);
    align-items: center;
    justify-content: center;
    z-index: 1;
    min-height: 130px;
    max-height: 300px;
    cursor: pointer;
    margin: auto;
    animation: fade-in 1s ease-out forwards;
}
.gameBox:hover,  .gamesContainer, .coverContainer{
    height: calc(100% - 5px);   
}
.gamesContainer:hover{
    overflow-x: auto;
    overflow-y: hidden;
}
.leftCover,
.rightCover,
.cdContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    z-index: 1;

}

.projectThumbail {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 100%;
    min-width: 40px;
    max-width: 80px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: auto;
}

.projectLinkContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: auto;
}
.projectLinkImg{
    width: 1rem;
    min-width: 16px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    background-color: var(--color-blanco);
    border-radius: 50%;
}
.projectLink:hover{
    background-color: var(--color-botones-hovered);
    transition: ease-in 0.3s;
}
.projectLink:not(:hover){
    transition: ease-out 0.3s;;
}
.projectLink:active{
    cursor: progress;
}
.stableBtn, .projectLink{
    padding: 8px 12px;
    background-color: var(--color-botones-nothovered);
    color: var(--color-blanco);
    text-decoration: none;
    border-radius: 5px;
    display: inline-flex;
    margin-top: 5px;
    justify-content: center;
    min-width: 30px;
    max-width: 200px;
    text-align: center;
    cursor: pointer;
}

.stableBtn:hover{
    background-color: var(--color-botones-hovered);
    transition: ease-in 0.3s;
}
.stableBtn:not(:hover){
    transition: ease-out 0.3s;
}
.stableBtn:active{
    cursor: progress;
}
