@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos para el footer principal */
#allFooter {
    width: 100%;
    max-width: 1000px;
    min-width: 300px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem auto 0 auto;
    opacity: 0;
    animation: fade-in 2.3s ease-out forwards;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: solid 1px white;
}

/* Estilos para los contenedores de los elementos del footer */
.footerContainer {
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    height: auto;
    min-height: fit-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Estilos para las cajas dentro del footer */
.footerBoxes {
    width: 30%;
    max-width: 300px;
    min-width: 150px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

/* Estilos para las listas dentro de las cajas del footer */
.footerBoxes>ul {
    display: flex;
    height: 100%;
    min-height: 150px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

/* Estilos para los elementos de las listas dentro de las cajas del footer */
.footerBoxes>ul>li {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Estilos para los enlaces dentro de las listas dentro de las cajas del footer */
.footerBoxes>ul>li>a {
    width: 25%;
    max-width: 2rem;
    min-width: 2rem;
    aspect-ratio: 1/1;
    display: flex;
    border-radius: 50%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

.footerBoxes>ul>li>a:hover {
    color: goldenrod;
    transition: ease-in 1s;
}

.footerBoxes>ul>li>a>img,
.footerBoxes>ul>li>img {
    width: 25%;
    max-width: 2rem;
    min-width: 2rem;
    aspect-ratio: 1/1;
    object-fit: contain;
    display: flex;
    align-items: center;
    margin: auto;
}

/* Estilos para el contenedor de botones */
.buttonContainer {
    width: 100%;
    max-width: 300px;
    min-width: 150px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Estilos para los botones */
.btn {
    min-width: 140px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    margin-top: 5px;
}

.btn:hover {
    background-color: #01458e;
}

.btn:active {
    cursor: progress;
}
.version {
    width: 100%;
    max-width: 1000px;
    min-width: 300px;
    height: auto;
    min-height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
}

.compilacion,
.jarsoft {
    display: flex;
    margin: auto;
    font-size: 0.8rem;
    color: grey;
}

.jarsoft {
    font-size: 1rem;
    font-style: italic;
}
