#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    opacity: 0;
    transition: opacity 0.5s;
}

#loader {
    border: 16px solid rgba(0, 0, 0, 0.4);
    border-top: 16px solid goldenrod;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    z-index: 99;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body.loading #loader-container {
    opacity: 1;
}
body:not(.loading) #loader-container {
    opacity: 0;
    pointer-events: none;
}
