/*animaciones*/
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#profile {
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    height: auto;
    min-height: fit-content;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    opacity: 0; 
    animation: fade-in 2.3s ease-out forwards;
}
@media (max-width: 768px) {
    #profile{
       width: 90dvw;
       max-width: 668px;
    }
    #profile > article{
        width: 100%;
        max-width: 668px;;
    }
}
#profile > h2, h3,
#profile > article {
    text-align: center;
    color: var(--color-blanco);
}

#profile > h2 {
    text-transform: uppercase;
    margin: 10px auto;
}
#profile > article {
    width: 90%;
    min-width: 270px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem auto;
}



#profile > article > p {
    line-height: 1.5;
    text-align: justify;
    margin: 1rem auto;
    font-weight: lighter;
}
