/* Animación de fundido */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos generales */
#projects, 
.allProjects, 
.projectContainer, 
.projectContainer.active {
    width: 90%;
    min-width: 300px;
    margin: auto;
}

/* Estilos responsivos */
@media (max-width: 500px) {
    #projects, 
    .allProjects, 
    .projectContainer, 
    .projectContainer.active {
        max-width: 500px;
    }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
    #projects, 
    .allProjects, 
    .projectContainer, 
    .projectContainer.active {
        width: 90vw;
        max-width: 668px;
    }
}

/* Estilos del contenedor principal */
#projects {
    text-align: center;
    opacity: 0;
    animation: fade-in 2.3s ease-out forwards;
}

/* Estilos del grid de proyectos */
.allProjects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
    justify-content: center;
}

/* Estilos del contenedor de proyecto */
.projectContainer {
    position: relative;
    overflow: hidden;
    display: none;
}

/* Estilos del proyecto activo */
.projectContainer.active {
    width: 100%;
    max-width: 1000px;
    aspect-ratio: 16/9;
    max-height: 300px;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 0 10px var(--color-ultratransparente-claro);
}

/* Estilos de la imagen del proyecto */
.imgContainer {
    position: relative;
    overflow: hidden;
    max-height: 300px;
}

.imgContainer > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s;
}

.imgContainer:hover img {
    filter: brightness(20%);
}

/* Estilos de la información del proyecto */
.projectInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-blanco);
    opacity: 0;
    transition: opacity 0.3s;
}

.projectContainer:hover .projectInfo {
    opacity: 1;
    cursor: pointer;
}

/* Estilos del botón de siguiente proyecto */
.nextButton {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 24px;
    background: none;
    color: var(--color-blanco);
    cursor: pointer;
    border: none;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.3s;
}

.nextButton:hover {
    color: violet;
}

.projectContainer:hover .nextButton {
    opacity: 1;
}

/* Estilos del botón de energía */
.powerBtnContainer {
    width: 90%;
    min-width: 300px;
    max-width: 900px;
    height: 20px;
    align-items: center;
    margin: -1.2rem auto;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    background-color: transparent;
}

#powerbtn {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.powerBtnImg {
    height: 1rem;
    aspect-ratio: 1/1;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: lightskyblue;
}

.powerBtnImg:hover {
    animation: pulse 1s infinite;
    background-color: goldenrod;
}

/* Estilos de otros elementos */
.projectContainer.hidden {
    display: none;
}

.sectionSubtitle {
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
    color: var(--color-blanco);
}

.projectContainer.fade-in {
    animation: fade-in 1s ease-out;
}

.displayPortContainer {
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    height: auto;
    min-height: fit-content;
    max-height: max-content;
    display: flex;
    margin: auto;
}
